body {
	font-family: "Poppins", sans-serif;
}

.container {
	display: flex;
	background-color: #fbeee6;
	padding: 10px;
}

.leftside {
	background-image: url(splash.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 400px;
	height: 500px;
	margin-right: 10px;
	border: red 2px solid;
	display: flex;
	flex-direction: column;
}

.title {
	color: lightgrey;
	background-color: rgba(43, 43, 43, 0.5);
	border: blue 2px solid;
}

h1 {
	margin-left: 20px;
}

.logo {
	width: 80px;
}

.rightside {
	display: flex;
	flex-direction: column;
	margin-top: 7%;
	max-width: 50vw;
}

.imgcopyright {
	color: lightgrey;
	text-align: center;
}
